.html {
  height: 100%;
  background-color:#000000;
}
.body{
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
  padding-top: 40px;
}
.button{
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
  text-align: center;
}
.index-columns{
  display: flex;
  justify-content: space-between;
}
