.catalog__item{
  width: 160px;
  text-align: center;
  padding-bottom: 12px;
}
.catalog__image{
  background-color: #FFE17F;
  margin-bottom: 33px;
}
.catalog .catalog__title{
  line-height: 24px;
  letter-spacing: -0.4px;
  font-size: 18px;
  color: #000;
  text-align: left;
}
.catalog__list{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 70px;
}

