.page-header{
  color: #000000;
  background-color:#ffffff;
}
.navigation{
  position: relative;
  background-color:#FFE17F;
  width: 1160px;
  padding-top: 43px;
  padding-bottom: 136px;
  margin: 0 auto;
}
.navigation-logo{
  position: absolute;
  left: 60px;
  top: -22px;

}
.navigation-list{
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.find-form{
  display: flex;
  align-items: center;
  width: 517px;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #000000;
}
.find-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;
  flex-grow: 1;
}
.field-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background-color: inherit;
}
.find-button {
  width: 160px;
  background: inherit;
  border: none;
  border-left: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.find-field::before {
  position: absolute;
  left: 24px;
  content: '';
  background-image: url('../img/Vector.svg'); /* Путь к картинке */
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.navigation-link {
  display: block;
  position: relative;
  padding: 5px 0;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}
.navigation-link__login{
  padding-left: 27px;
  margin-right: 150px;
}
.navigation-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0%;
  margin: auto 0;
}

.navigation-link__wrapper{
  display: flex;
  width: 241px;
}
.navigation-link__compare{
  background-image: url('../img/diagram.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 10px 12px;
  padding-left: 22px;
  background-position: left top 13px ;
  margin-right: auto;
}
.navigation-link__basket{
  padding-left: 42px;
}
.navigation-link__basket .navigation-icon{
  right: auto;
  left: 15px;
  margin: auto 0;
  padding-bottom: 6px;
}
.navigation-icon__counter{
  position: absolute;
  min-width: 21px;
  height: 21px;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #ffffff;
  border-radius: 50%;
  line-height: 21px;
  text-align: center;
}
.navigation-main {
  font-family: "raleway";
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0.2em;
  margin-top: 30px;
}
.navigation-main .navigation-link__wrapper{
  display: flex;
  width: 471px;
  justify-content: space-between;
}
.navigation-main .navigation-item > .navigation-link{
  padding-right: 57px;
  width: 253px;
}
.navigation-main .navigation-icon{
  left: auto;
  margin: auto 0;
}

