.page-header{
  color: #000000;
  background-color:#ffffff;
}
.navigation{
  background-color:#FFE17F;
  width: 1160px;
  margin: 0 auto;
}
.navigation-list{
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding: 0;
}
.find-form{
  display: flex;
  align-items: center;
  width: 517px;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #000000;
}
.find-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;
  flex-grow: 1;
}
.field-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background-color: inherit;
}
.find-button {
  width: 160px;
  background: inherit;
  border: none;
  border-left: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.find-field::before {
  position: absolute;
  left: 24px;
  content: '';
  background-image: url('../img/Vector.svg'); /* Путь к картинке */
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.navigation-link {
  display: block;
  padding: 5px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}
.navigation-link__login{
  position: relative;
  padding-left: 27px;
  margin-right: 150px;
}
.navigation-icon{
  position: absolute;
  left: 0;
  top: 13px;
}

.navigation-link__wrapper{
  display: flex;
  width: 241px;
}
.navigation-link__compare{
  background-image: url('../img/diagram.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
}
