.services{
  background: linear-gradient(to top,#b7b7b7 289px, #ffffff 0px);
}
.services-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 72px;

}
.services-switcher__list,.services__list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.services-switcher__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-right: 7px solid #000000 ;
}
.services-switcher__item{
  margin-bottom: 35px;
}
.services-switcher__item:nth-child(3){
  margin-bottom: 0;
}
.services-switcher__button{
  width: 160px;
  margin-right: 120px;
  border: none;
}
.services-switcher__button-current{
  background: none;
  color: #FFE17F ;
  background-color: #000000;
  margin: 0;
  text-align: left;
  padding-left: 18px;
  width: 280px;
}
.services__item{
  display: flex;
  justify-content: space-between;
  width: 694px;
}
.guarantee,.credit{
  display: none;
}
.services__list {
  padding: 72.5px 63px;
  padding-left: 116px;
  margin: 0;
}
.services__list .services__title{
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}
.services__text{
  margin: 0;
}




