.slider-mover{
  position: relative;
  padding-top: 480px;
}
.slider{
  position: absolute;
  top:-170px;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}
.slider-subtitle {
   font-size: 50px;
   line-height: 50px;
}
.data__number{
  font-size: 36px;
  line-height: 30px;
}
.slider-button{
  text-decoration: none;
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  background-image: url("../img/arrow_prev.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.slider-next{
  transform: rotate(180deg);
}
.slider-image__wrapper{
  position: relative;
}
.slider-image,.slider-image_number {
  display: block;
}
.slider-control{
  position: absolute;
  top: 211px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 530px;
}
.slider-description__wrapper{
  position: relative;
  width: 560px;
  padding-top: 123px;

}
.slider-image_number{
  position: absolute;
  top: 25px;
  right: 33px;
}
.slider-description__wrapper .slider-subtitle{
  position: relative;
}
.button{
  display: block;
  width: 220px;
  letter-spacing: 0.2em;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #FFE17F;
  box-shadow:
  inset 0 16px 0 0 #ffffff,
  inset 0 -16px 0 0 #ffffff;
}
.control-wrapper{
  display: flex;
  justify-content: space-between;
}
.slider-pagination{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:76px;
}
.slider-pagination-item {
  margin: auto 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
.slider-pagination-button-current{
  background-color: #000000;
}

