@charset "UTF-8";
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
.html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
  margin: 0;
  padding-top: 27px;
}

.button {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
  text-align: center;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  background-color: #FFE17F;
  width: 1160px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding: 0;
}

.find-form {
  display: flex;
  align-items: center;
  width: 517px;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #000000;
}

.find-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;
  flex-grow: 1;
}

.field-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background-color: inherit;
}

.find-button {
  width: 160px;
  background: inherit;
  border: none;
  border-left: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.find-field::before {
  position: absolute;
  left: 24px;
  content: "";
  background-image: url("../img/Vector.svg");
  /* Путь к картинке */
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.navigation-link {
  display: block;
  padding: 5px;
  text-align: center;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-link__login {
  position: relative;
  padding-left: 27px;
  margin-right: 150px;
}

.navigation-icon {
  position: absolute;
  left: 0;
  top: 13px;
}

.navigation-link__wrapper {
  display: flex;
  width: 241px;
}

.navigation-link__compare {
  background-image: url("../img/diagram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 10px 12px;
  padding-left: 22px;
  background-position: left top 13px;
  margin-right: 18px;
}

.main {
  flex-grow: 1;
}

.main h3, h2 {
  font-family: "Raleway";
  font-weight: 800;
}

.main a {
  text-decoration: none;
}

.main h2 {
  font-size: 50px;
  line-height: 50px;
}

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
}

.footer-services__link {
  line-height: 21.13px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-phone {
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.slider-subtitle {
  font-size: 50px;
  line-height: 50px;
}

.data__number {
  font-size: 36px;
  line-height: 30px;
}

.slider-button {
  text-decoration: none;
}

.catalog__item {
  width: 160px;
  text-align: center;
}

.catalog__title {
  line-height: 24px;
  font-size: 18px;
  color: #000;
  text-align: left;
}

.deleviry__link {
  font-size: 20px;
  line-height: 23.48;
  color: #000;
  text-decoration: none;
}

.companies__item .companies__title {
  font-family: Rubik;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.contacts .contacts-subtitle {
  font-family: Rubik;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */